/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    max-width: 100vw;
}

/* Fuentes generales */

* {
    color: white;
    font-family: 'Montserrat', Arial, sans-serif;
}

.size8 {
    font-size: 12px;
}

.size9 {
    font-size: 12px;
}

.size10 {
    font-size: 12px;
}

.size12 {
    font-size: 12px;
}

.size13 {
    font-size: 13px;
}

.size16 {
    font-size: 16px;
}

.size24 {
    font-size: 24px;
}

.size26 {
    font-size: 26px;
}

.size28 {
    font-size: 28px;
}

p {
    font-weight: 400;
}

.weight400 {
    font-weight: 400;
}

.weight500 {
    font-weight: 500;
}

.weight700 {
    font-weight: 700;
}

.weight800 {
    font-weight: 800;
}

/*Backgrounds*/

.fondoNegro {
    background-color: black;
}

.fondoBlanco {
    background-color: #FFFDFD;
}

.fondoGris {
    background-color: #575756;
}

/*Color del texto que no es blanco*/

.textoNegro {
    color: black;
}

.textoGrisOscuro {
    color: #3D3845;
}

.textoGrisIntermedio {
    color: #575756;
}

.textoGrisClaro {
    color: #3D3544;
}

.textoGrisMasClaro {
    color: #9E9BA1;
}

.textoNaranja {
    color: #C39A6D;
}

/* imágenes generales */

.fotos {
    max-width: 100vw;
}

/* propiedades generales */

html {
    scroll-behavior: smooth;
}

/* header */

header {
    width: 100vw;
    height: 100px;
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #FFFDFD;
}

header img {
    display: block;
}

#imagenLogo {
    width: 103px;
}

#clickeablesHeader {
    display: flex;
}

#menuRedesHeader {
    display: flex;
}

.itemsRedesHeader {
    margin: 0 2px;
}

#burger-menu-toggler {
    margin-left: 19px;
    z-index: 3;
}

#mainMenu {
    display: none;
}

/* títulos */

section#instagramPosts {
    text-align: center;
}

/* sección 1 MOBILIARIOS COCINA */

#seccionMobiliarios{
    position: relative;
    margin-bottom: 36%;
/*  margin-bottom: 130px;*/
}

#fotoMobiliarios {
    position: relative;
    width: 100%;
    max-width: 100%;
}

#textoMobiliarios {
    z-index: 1;
    margin: 0 18%;
    padding: 11px;
    position: absolute;
    bottom: -32%;
    min-width: 150px;
}

#renderizamos {
    margin: 0.8em 0;
}

/* sección 2 INSTAGRAM POSTS */

#seccionPosts {
    margin-bottom: 36px;
    text-align: center;
}

#containerPosteos figure {
    padding: 0 18%;
    max-width: 100vw;
}

#containerPosteos figure img {
    max-width: 64vw;
}

#containerPosteos figure figcaption h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#containerPosteos figure figcaption p {
    opacity: 0.65;
    margin-bottom: 2em;
}

h2#newPosts {
    font-size: 34px;
    margin: 15px 0;
}

/* sección 3 VESTIDORES y COMENTARIOS */


#mobiliariosVestidores {
    position: relative;
}

#fotoVestidores {
    max-width: 100%;
    display: block;
    margin-bottom: 120px;
}

#textoVestidores {
    position: absolute;
    z-index: 1; 
    margin-left: 11%;
    margin-right: 11%;
    padding: 9px 25px 25px;
    min-width: 230px;
    top: 85%;
}

#aMedida {
    margin-top: 15px;
    margin-bottom: 15px;
}

#containerComentarios {
    position: relative;
}

#fotoComentarios {
    top: 110px;
    max-width: 100%;
    margin-bottom: 30px;
}

#textoComentarios {
    margin: 0 11%;
    padding: 18px 25px 25px;
    min-width: 230px;
    position: relative;
}

#textoComentarios h3 {
    margin-bottom: 15px;
}
/* sección 4 VIDEO HERRAJES */

#seccionVideoHerrajes {
    position: relative;
}

#seccionVideoHerrajes h5 {
    padding: 25px 7.5% 0;
}

#seccionVideoHerrajes h3 {
    padding: 0 7.5% 25px;
}

#seccionVideoHerrajes p {
    padding: 25px 7.5%;
}

#videoHerrajes {
    width: 100vw;
    max-width: 100vw;
}

/* sección 5 CONTACTO */

#holaEscribinos {
    position: relative;
}

#textoEscribinos {
    z-index: 1;
    width: 55%;
    padding: 24px 20px 20px;
    position: absolute;
    left: 0;
    top: 16%;
    min-width: 194px;
}

#fotoContacto {
    max-width: 100%;
    position: relative;
}

#hola {
    line-height: 29px;
}

#somosMaCuisine {
    margin: 10px 0 0;
}

/* form */

form {
    text-align: center;
    position: relative;
    margin: 23px 5% 0;
}

#botonContacto {
    background: #C39A6D;
    width: 149px;
    font-weight: 400;
    font-size: 20px;
}

input#formNombre {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #3D3845;
}

input#formEmail {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #3D3845;
}

#containerAclaracionesBoton {
    padding: 23px 0;
    display: flex;
    flex-direction: column;
}

#aclaracionesForm {
    text-align: left;
    opacity: 0.65;
    margin-top: 15px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
}

#formEmail,
textarea {
    margin-top: 23px;
}

textarea {
    height: 126px;
}

/* footer */

footer {
    position: relative;
    padding: 15% 5% 28px;
}

#seguinos {
    text-align: right;
}

#listaDatosContacto {
    margin: 1em 0 27px;
}

footer::before {
    content: "";
    display: block;
    width: 66px;
    height: 5px;
    background-color: #676767;
    position: absolute;
    left: 0;
}

#seguinos {
    margin-bottom: 0.5em;
}

#textoFooter::after {
    content: "";
    display: block;
    width: 66px;
    height: 5px;
    background-color: #676767;
    position: absolute;
    right: 0;
}

#listaIconosFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 32px 0 0;
}

.elementosListaFooter {
    height: 60px;
}

/* estilos menú cerrado */

.close {
    display: none;
}

/******/

/**
 * estilos menú abierto
 */
body.burger-menu-active .open {
    display: none;
}

body.burger-menu-active .close {
    display: block;
}

body.burger-menu-active #mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: 2;
    background-color: rgba(255,253,253,0.80);
}

body.burger-menu-active .itemsNav {
    color: white;
}

/***/

/* MEDIA QUERIES */

/* 768 */

@media (min-width: 375px) {
    #textoMobiliarios {
        bottom: -25%;
    }
    #seccionMobiliarios{
        margin-bottom: 30%;
    }
}

@media (min-width: 390px) {
    #fotoVestidores {
        margin-bottom: 90px;
    }
}

@media (min-width: 450px) {
    #textoMobiliarios {
        bottom: -21%;
    }
    #seccionMobiliarios{
        margin-bottom: 25%;
    }
    #textoVestidores {
        top: 90%;
    }
}

@media (min-width: 520px) {
    #textoMobiliarios {
        bottom: -17%;
    }
    #seccionMobiliarios{
        margin-bottom: 20.5%;
    }

    #textoVestidores {
        top: 92%;
    }
}

@media (min-width: 640px) {
    #textoMobiliarios {
        bottom: -12%;
    }
    #seccionMobiliarios{
        margin-bottom: 15%;
    }
}

@media (min-width: 768px) {

    /* header */

    header {
        padding: 34px;
        margin-bottom: 47px;
        height: 137px;
    }

    #burger-menu-toggler {
        display: none;
    }

    #mainMenu {
        display: flex;
        align-items: center;
        padding-left: 20px;
    }

    #mainMenu li {
        padding: 8px;
    }
    
    #imagenLogo {
        width: 115px;
    }

    /* sección mobiliarios cocina */

    #fotoMobiliarios {
        padding-right: 32%;
    }

    #textoMobiliarios {
        width: 44%;
        margin: 0;
        padding: 24px 21px 55px;
        right: 0;
        top: 130px;
        bottom: auto;
    }

    #textoMobiliarios h3 {
        font-size: 36px;
    }

    #textoMobiliarios h5 {
        font-size: 16px;
    }

    #textoMobiliarios p {
        font-size: 15px;
    }

    #renderizamos {
        margin: 15px 0;
    }

    /* sección posts */

    #containerPosteos {
        display: flex;
        justify-content: space-evenly;
        max-width: 100vw;
    }

    #containerPosteos figure {
        padding: 0 1%;
        max-width: 33.3vw;
    }
    
    #containerPosteos figure img {
        max-width: 100%;
    }
    
    #containerPosteos figure figcaption h4 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    
    #containerPosteos figure figcaption p {
        margin-bottom: 2em;
    }
    
    h2#newPosts {
        font-size: 42px;
        margin: 37px 0;
    }

    /* sección vestidores y comentarios */
    
    #textoVestidores {
        width: 48%;
        margin: 0;
        padding: 21px 34px 34px;
        top: 15%;
    }

    #textoVestidores h3,
    #textoVestidores h3 strong {
        font-size: 36px;
    }

    #textoVestidores h3 strong {
        text-transform: uppercase;
    }

    #textoVestidores h5 {
        font-size: 20px;
    }

    #textoVestidores p {
        font-size: 15px;
    }
    
    #fotoVestidores {
        max-width: 100%;
        padding-left: 33%;
        margin-bottom: 0;
    }
    
    #fotoComentarios {
        width: 68%;
        left: 0;
        top: 0;
    }
    
    #textoComentarios {
        position: absolute;
        z-index: 1;
        margin: 0;
        padding: 24px;
        width: 42%;
        right: 0;
        top: 34%;
    }

    #textoComentarios h3 {
        font-size: 32px;
    }

    #textoComentarios h5 {
        font-size: 16px;
    }

    #textoComentarios p {
        font-size: 15px;
    }

/* sección 4 VIDEO HERRAJES */

    #seccionVideoHerrajes {
        margin-top: 50px; 
    }

    #seccionVideoHerrajes h5 {
        font-size: 24px;
    }

    #seccionVideoHerrajes h3 {
        font-size: 36px;
    }

    #seccionVideoHerrajes p {
        font-size: 16px;
    }

    #videoHerrajes {
        padding: 0 4.82%;
    }

/* SECCIÓN CONTACTO */

#seccionContacto {
    background-color: #FFFDFD;
}

#textoEscribinos {
    width: 42%;
    padding: 30px 30px 30px 40px;
}

#textoEscribinos h2 {
    font-size: 32px;
    line-height: 1.2em;
}

#textoEscribinos p {
    font-size: 15px;
}

#fotoContacto {
    padding-left: 31%;
    display: block;
}

/* form */


form {
    margin: 0;
    padding: 4% 8%;
}

#containerNombreEmail {
    display: flex;
}

#formEmail {
    margin-top: 0;
    margin-left: 11.5px;
}

#formNombre {
    margin-right: 11.5px;
}

#containerAclaracionesBoton {
    height: auto;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#aclaracionesForm {
    margin: 0;
}

textarea {
    height: 176px;
}

/* footer */

footer {
    padding: 32px 8% 28px;
}

#listaIconosFooter {
    justify-content: flex-end;
}

#listaIconosFooter li {
    margin: 0 8px;
}

footer ul :nth-child(3) {
    margin-right: 0;
}

#listaDatosContacto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.elementosDatosContacto {
    flex-basis: 33%;
    margin: 27px 0;
}

#elementoDireccion {
    text-align: center;
}

#elementoCiudad {
    text-align: right;
}

footer::before,
#textoFooter::after {
    width: 100px;
}

#seguinos {
    margin-bottom: 0.5em;
}

/*

#seguinos {
    text-align: right;
}

#datosContactoFooter {
    margin: 1em 0 27px;
}

#seguinos {
    margin-bottom: 0.5em;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 32px 0 0;
}

.elementosListaFooter {
    height: 60px;
}

*/

}

/* 1024 */

@media (min-width: 1024px) {
    main,
    footer {
        margin: 0 auto;
    }

    header {
        padding: 54px;
        height: 216px;
        margin-bottom: 0;
    }

    .itemsRedesHeader a img {
        width: 50px;
    }

    #imagenLogo {
        width: 180px;
    }

    .itemsNav a {
        font-size: 20px;
    }

    #mainMenu {
        padding-left: 34px;
    }

    /* sección mobiliarios cocina */

    #fotoMobiliarios {
        padding-right: 32%;
    }

    #textoMobiliarios {
        padding: 35px 35px 70px;
        top: 190px;
    }

    #textoMobiliarios h3 {
        font-size: 36px;
    }

    #textoMobiliarios h5 {
        font-size: 16px;
    }

    #textoMobiliarios p {
        font-size: 15px;
    }

    #renderizamos {
        margin: 15px 0;
    }

    /* footer */

    footer {
        padding: 32px 91px 28px;
    }

    footer::before,
    #textoFooter::after {
        width: 157px;
        height: 8px;
    }



}

@media (min-width: 1200px) {
    #imagenLogo {
        width: 209px;
    }

    header {
        height: 234px;
        padding: 54px 63px;
    }

    .itemsRedesHeader a img {
        width: 59px;
    }

    .itemsNav a {
        font-size: 24px;
    }

    /* footer */

    footer {
        padding: 32px 91px 36px;
    }

    .elementosDatosContacto {
        font-size: 20px;
    }

    #seguinos {
        font-size: 24px;
    }

    .elementosListaFooter,
    .iconosFooter,
    .iconosFooter img {
        width: 95px;
    }
}