/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    max-width: 100vw;
}

/* Fuentes generales */

* {
    color: white;
    font-family: 'Montserrat', Arial, sans-serif;
}

.size8 {
    font-size: 12px;
}

.size9 {
    font-size: 12px;
}

.size10 {
    font-size: 12px;
}

.size12 {
    font-size: 12px;
}

.size13 {
    font-size: 13px;
}

.size16 {
    font-size: 16px;
}

.size24 {
    font-size: 24px;
}

.size26 {
    font-size: 26px;
}

.size28 {
    font-size: 28px;
}

p {
    font-weight: 400;
}

.weight400 {
    font-weight: 400;
}

.weight500 {
    font-weight: 500;
}

.weight700 {
    font-weight: 700;
}

.weight800 {
    font-weight: 800;
}

/*Backgrounds*/

.fondoNegro {
    background-color: black;
}

.fondoBlanco {
    background-color: #FFFDFD;
}

.fondoGris {
    background-color: #575756;
}

/*Color del texto que no es blanco*/

.textoNegro {
    color: black;
}

.textoGrisOscuro {
    color: #3D3845;
}

.textoGrisIntermedio {
    color: #575756;
}

.textoGrisClaro {
    color: #3D3544;
}

.textoGrisMasClaro {
    color: #9E9BA1;
}

.textoNaranja {
    color: #C39A6D;
}

/* imágenes generales */

.fotos {
    max-width: 100vw;
}

/* propiedades generales */

html {
    scroll-behavior: smooth;
}

/* header */

header {
    width: 100vw;
    height: 100px;
    padding: 19px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: #FFFDFD;
    transition: height 0.5s;
}

header img {
    display: block;
}

#imagenLogo {
    width: 103px;
    transition: width 0.5s;
}

#clickeablesHeader {
    display: flex;
}

#menuRedesHeader {
    display: flex;
}

.itemsRedesHeader {
    margin: 0 2px;
}

/* menú hamburguesa */

#mainMenu {
    display: none;
}

#burger-menu-toggler {
    background: transparent;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-left: 5vw;
    z-index: 2;
}

#open-mobile-menu {
    display: block;
}

#close-mobile-menu {
    display: none;
    width: 32px;
}

body.mobile-menu-active {
    overflow: hidden;
}

body.mobile-menu-active #open-mobile-menu {
    display: none;   
}

body.mobile-menu-active #close-mobile-menu {
    display: block;   
}

body.mobile-menu-active #mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    background: #ffffffbb;  
}

/* títulos */

section#instagramPosts {
    text-align: center;
}

/* sección 1 MOBILIARIOS COCINA */

#seccionMobiliarios{
    position: relative;
    margin-bottom: 36%;
    scroll-margin-top: 100px;
}

#fotoMobiliariosDesktop {
    display: none;
}

#fotoMobiliariosMobile {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
}

#textoMobiliarios {
    z-index: 1;
    margin: 0 18%;
    padding: 11px;
    position: absolute;
    bottom: -32%;
    min-width: 150px;
}

#renderizamos {
    margin: 0.8em 0;
}

/* sección 2 INSTAGRAM POSTS */

#seccionPosts {
    margin-bottom: 36px;
    text-align: center;
}

#containerPosteos figure {
    padding: 0 18%;
    max-width: 100vw;
}

#containerPosteos figure img {
    max-width: 64vw;
}

#containerPosteos figure figcaption h4 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

#containerPosteos figure figcaption p {
    opacity: 0.65;
    margin-bottom: 2em;
}

h2#newPosts {
    font-size: 34px;
    margin: 15px 0;
}

/* sección 3 VESTIDORES y RENDERS */

#mobiliariosVestidoresComentarios {
    scroll-margin-top: 100px;
}

#mobiliariosVestidores {
    position: relative;
}

#fotoVestidoresDesktop {
    display: none;
}

#fotoVestidoresMobile {
    display: block;
    max-width: 100%;
    margin-bottom: 60%;
}

#textoVestidores {
    position: absolute;
    z-index: 1; 
    margin-left: 11%;
    margin-right: 11%;
    padding: 9px 25px 25px;
    min-width: 230px;
    top: 85%;
}

#aMedida {
    margin-top: 15px;
    margin-bottom: 15px;
}

#containerComentarios {
    position: relative;
}

#fotoComentariosDesktop {
    display: none;
}

#fotoComentariosMobile {
    display: block;
    top: 110px;
    max-width: 100%;
    margin-bottom: 30px;
}

#sub-section-renders {
    scroll-margin-top: 100px;
}

.slider-renders {
    position: relative;
}

#textoRenders {
    margin: 0 11%;
    padding: 18px 25px 25px;
    min-width: 230px;
    position: relative;
    z-index: 1;
}

#textoRenders h3 {
    margin-bottom: 15px;
}

/* Slideshow container */
.slideshow-container {
    /*max-width: 1000px;*/
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

/* sección 4 VIDEO HERRAJES */

#seccionVideoHerrajes {
    position: relative;
    margin-bottom: 10%;
}

#seccionVideoHerrajes h5 {
    padding: 25px 7.5% 0;
}

#seccionVideoHerrajes h3 {
    padding: 0 7.5% 25px;
}

#seccionVideoHerrajes p {
    padding: 25px 7.5%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    width: 100%
}

#videoHerrajes {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
}

/* sección 5 CONTACTO */

#seccionContacto {
    scroll-margin-top: 100px;
}

#holaEscribinos {
    position: relative;
}

#textoEscribinos {
    z-index: 1;
    width: 55%;
    padding: 24px 20px 20px;
    position: absolute;
    left: 0;
    top: 16%;
    min-width: 194px;
}

#fotoContactoDesktop {
    display: none;
}

#fotoContactoMobile {
    display: block;
    max-width: 100%;
    position: relative;
}

#hola {
    line-height: 29px;
}

#somosMaCuisine {
    margin: 10px 0 0;
}

/* form */

form {
    text-align: center;
    position: relative;
    margin: 23px 5% 0;
}

#botonContacto {
    background: #C39A6D;
    width: 149px;
    font-weight: 400;
    font-size: 20px;
}

input#formNombre {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #3D3845;
}

input#formEmail {
    font-family: 'Montserrat', Arial, sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #3D3845;
}

#containerAclaracionesBoton {
    padding: 23px 0;
    display: flex;
    flex-direction: column;
}

#aclaracionesForm {
    text-align: left;
    opacity: 0.65;
    margin-top: 15px;
}

input,
textarea {
    width: 100%;
    padding: 12px;
}

#formEmail,
textarea {
    margin-top: 23px;
}

textarea {
    height: 126px;
    color: #3D3845;
    font-size: 20px;
    font-weight: 400;
}

/* footer */

footer {
    position: relative;
    padding: 15% 5% 28px;
}

#seguinos {
    text-align: right;
}

#listaDatosContacto {
    margin: 1em 0 27px;
}

footer::before {
    content: "";
    display: block;
    width: 66px;
    height: 5px;
    background-color: #676767;
    position: absolute;
    left: 0;
}

#seguinos {
    margin-bottom: 0.5em;
}

#textoFooter::after {
    content: "";
    display: block;
    width: 66px;
    height: 5px;
    background-color: #676767;
    position: absolute;
    right: 0;
}

#listaIconosFooter {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 32px 0 0;
}

.elementosListaFooter {
    height: 60px;
}

/* estilos menú cerrado */

.close {
    display: none;
}

/******/

/*

/**
 * estilos menú abierto

body.burger-menu-active .open {
    display: none;
}

body.burger-menu-active .close {
    display: block;
}

body.burger-menu-active #mainMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding-top: 10vh;
    padding-bottom: 10vh;
    z-index: 2;
    background-color: rgba(255,253,253,0.80);
}

body.burger-menu-active .itemsNav {
    color: white;
}

*/

/***/

/* MEDIA QUERIES */

/* 768 */

@media (min-width: 375px) {
    #textoMobiliarios {
        bottom: -25%;
    }
    #seccionMobiliarios{
        margin-bottom: 30%;
    }
    #fotoVestidoresMobile {
        margin-bottom: 50%;
    }
}

@media (min-width: 390px) {
    #fotoVestidoresMobile {
        margin-bottom: 47%;
    }
}

@media (min-width: 450px) {
    #textoMobiliarios {
        bottom: -21%;
    }
    #seccionMobiliarios{
        margin-bottom: 25%;
    }
    #textoVestidores {
        top: 90%;
    }
    #fotoVestidoresMobile {
        margin-bottom: 42%;
    }
}

@media (min-width: 520px) {
    #textoMobiliarios {
        bottom: -17%;
    }

    #seccionMobiliarios{
        margin-bottom: 20.5%;
    }

    #textoVestidores {
        top: 92%;
    }

    #fotoVestidoresMobile {
        margin-bottom: 35%;
    }
}

@media (min-width: 640px) {
    #textoMobiliarios {
        bottom: -12%;
    }
    #seccionMobiliarios{
        margin-bottom: 15%;
    }

    #fotoVestidoresMobile {
        margin-bottom: 25%;
    }
}

@media (min-width: 768px) {

    /* header */

    header {
        padding: 34px;
        margin-bottom: 47px;
        height: 137px;
    }

    #burger-menu-toggler {
        display: none;
    }

    #mainMenu {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-left: 20px;
    }

    #mainMenu li {
        padding: 8px;
    }
    
    #imagenLogo {
        width: 115px;
    }

    body.page-scrolled header {
        height: 90px;
    }

    body.page-scrolled #imagenLogo {
        width: 115px;
    }

    /* sección mobiliarios cocina */

    #fotoMobiliariosMobile {
        display: none;
    }

    #fotoMobiliariosDesktop {
        display: block;
        padding-right: 32%;
    }

    #textoMobiliarios {
        width: 44%;
        margin: 0;
        padding: 24px 21px 55px;
        right: 0;
        top: 130px;
        bottom: auto;
    }

    #textoMobiliarios h3 {
        font-size: 36px;
    }

    #textoMobiliarios h5 {
        font-size: 16px;
    }

    #textoMobiliarios p {
        font-size: 15px;
    }

    #renderizamos {
        margin: 15px 0;
    }

    /* sección posts */

    #containerPosteos {
        display: flex;
        justify-content: space-evenly;
        max-width: 100vw;
    }

    #containerPosteos figure {
        padding: 0 1%;
        max-width: 33.3vw;
    }
    
    #containerPosteos figure img {
        max-width: 100%;
    }
    
    #containerPosteos figure figcaption h4 {
        margin-top: 1em;
        margin-bottom: 0.5em;
    }
    
    #containerPosteos figure figcaption p {
        margin-bottom: 2em;
    }
    
    h2#newPosts {
        font-size: 42px;
        margin: 37px 0;
    }

    #containerPosteos figure a figcaption h4,
    #containerPosteos figure a figcaption p,
    #containerPosteos figure figcaption h4 a,
    #containerPosteos figure figcaption p a{
        font-weight: 500;
    }

    /* sección vestidores y renders */
    
    #textoVestidores {
        width: 48%;
        margin: 0;
        padding: 21px 34px 34px;
        top: 15%;
    }

    #textoVestidores h3,
    #textoVestidores h3 strong {
        font-size: 36px;
    }

    #textoVestidores h3 strong {
        text-transform: uppercase;
    }

    #textoVestidores h5 {
        font-size: 20px;
    }

    #textoVestidores p {
        font-size: 15px;
    }

    #fotoVestidoresMobile {
        display: none;
    }
    
    #fotoVestidoresDesktop {
        display: block;
        max-width: 100%;
        padding-left: 33%;
        margin-bottom: 0;
    }
    
    /*#fotoComentariosMobile {
        display: none;
    }*/

    .slideshow-container {
        display: block;
        width: 68%;
        left: -16%;
        top: 0;
        margin-top: 100px;
    }
    
    #textoRenders {
        position: absolute;
        width: 42%;
        top: -10%;
        right: 0;
        margin: 0;
        padding: 21px 34px 34px;
    }

    /*#textoRenders {
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 24px;
        width: 42%;
        right: 0;
        top: 34%;
    }*/

    #textoRenders h3,
    #textoRenders h3 strong {
        font-size: 32px;
    }

    #textoRenders p {
        font-size: 15px;
    }

/* sección 4 VIDEO HERRAJES */

    #seccionVideoHerrajes {
        margin-top: 50px; 
    }

    #seccionVideoHerrajes h5 {
        font-size: 24px;
    }

    #seccionVideoHerrajes h3 {
        font-size: 36px;
    }

    #seccionVideoHerrajes p {
        font-size: 16px;
    }

    #videoHerrajes {
        padding: 0 4.82%;
    }

/* SECCIÓN CONTACTO */

#seccionContacto {
    background-color: #FFFDFD;
}

#textoEscribinos {
    width: 42%;
    padding: 30px 30px 30px 40px;
}

#textoEscribinos h2 {
    font-size: 32px;
    line-height: 1.2em;
}

#textoEscribinos p {
    font-size: 15px;
}

#fotoContactoMobile {
    display: none;
}

#fotoContactoDesktop {
    padding-left: 31%;
    display: block;
}

/* form */


form {
    margin: 0;
    padding: 4% 8%;
}

#containerNombreEmail {
    display: flex;
}

#formEmail {
    margin-top: 0;
    margin-left: 11.5px;
}

#formNombre {
    margin-right: 11.5px;
}

#containerAclaracionesBoton {
    height: auto;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}

#aclaracionesForm {
    margin: 0;
}

textarea {
    height: 176px;
}

/* footer */

footer {
    padding: 32px 8% 28px;
}

#listaIconosFooter {
    justify-content: flex-end;
}

#listaIconosFooter li {
    margin: 0 8px;
}

footer ul :nth-child(3) {
    margin-right: 0;
}

#listaDatosContacto {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.elementosDatosContacto {
    flex-basis: 33%;
    margin: 27px 0;
}

#elementoDireccion {
    text-align: center;
}

#elementoCiudad {
    text-align: right;
}

footer::before,
#textoFooter::after {
    width: 100px;
}

#seguinos {
    margin-bottom: 0.5em;
}

/*

#seguinos {
    text-align: right;
}

#datosContactoFooter {
    margin: 1em 0 27px;
}

#seguinos {
    margin-bottom: 0.5em;
}

footer ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 32px 0 0;
}

.elementosListaFooter {
    height: 60px;
}

*/

}

/* 1024 */

@media (min-width: 1024px) {
    main,
    footer {
        margin: 0 auto;
    }

    header {
        padding: 54px;
        height: 216px;
        margin-bottom: 0;
    }

    .itemsRedesHeader a img {
        width: 50px;
    }

    #imagenLogo {
        width: 180px;
    }

    .itemsNav a {
        font-size: 20px;
    }

    #mainMenu {
        padding-left: 34px;
    }

    /* sección mobiliarios cocina */

    #fotoMobiliarios {
        padding-right: 32%;
    }

    #textoMobiliarios {
        padding: 35px 35px 70px;
        top: 190px;
    }

    #textoMobiliarios h3 {
        font-size: 36px;
    }

    #textoMobiliarios h5 {
        font-size: 16px;
    }

    #textoMobiliarios p {
        font-size: 15px;
    }

    #renderizamos {
        margin: 15px 0;
    }

    /* RENDERS */

    #textoRenders {
        top: 10%;
    }

    /* footer */

    footer {
        padding: 32px 91px 28px;
    }

    #listaIconosFooter {
        margin-bottom: 20px;
    }

    footer::before,
    #textoFooter::after {
        width: 157px;
        height: 8px;
    }



}

@media (min-width: 1200px) {
    #imagenLogo {
        width: 209px;
    }

    header {
        height: 234px;
        padding: 54px 63px;
    }

    .itemsRedesHeader a img {
        width: 59px;
    }

    .itemsNav a {
        font-size: 24px;
    }

    /* footer */

    footer {
        padding: 32px 91px 36px;
    }

    .elementosDatosContacto {
        font-size: 20px;
    }

    #seguinos {
        font-size: 24px;
    }

    .elementosListaFooter,
    .iconosFooter,
    .iconosFooter img {
        width: 95px;
    }
}